
.idea/DeepLearningBasics.iml
.idea/modules.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/misc.xml
*.xml
3IntroPyTorch/.ipynb_checkpoints/3_TrainingNN-checkpoint.py
*.pt
*.pyc
4ConvolutionalNeuralNetwork/data/MNIST/raw/t10k-images-idx3-ubyte
4ConvolutionalNeuralNetwork/data/MNIST/raw/t10k-labels-idx1-ubyte
4ConvolutionalNeuralNetwork/data/MNIST/raw/train-images-idx3-ubyte
4ConvolutionalNeuralNetwork/data/MNIST/raw/train-labels-idx1-ubyte
3IntroPyTorch/.ipynb_checkpoints/4_FashionMNIST-checkpoint.py
*.0
*.1
*.txt
9DQN/.ipynb_checkpoints/BasicCartPoleDQN-checkpoint.ipynb
9DQN/.ipynb_checkpoints/CartPoleQval-checkpoint.ipynb
9DQN/.ipynb_checkpoints/1_DQN-checkpoint.py
9DQN/.ipynb_checkpoints/play-checkpoint.py
9DQN/.ipynb_checkpoints/playground-checkpoint.ipynb
9DQN/.ipynb_checkpoints/reinforcement_q_learning-checkpoint.ipynb
